.tags
.tags_sorted_by_file
.deps
.libs
*.o
*.lo
*.swp
*.txt
*.log
*.ko
*.symvers
*.order
*.mod.c
.*.cmd
.tmp_versions

fp-sock/sock
dpdk-bind/bin/
vcl-test-server/main
udp-echo/main
vpp-test/test_longjmp
vpp-test/test_time
vpp-test/test_timing_wheel
vpp-test/test_process
vpp-test/test_vec
armv7l-pmu/test/test_arch
Makefile.in
aclocal.m4
compile
config.guess
config.sub
configure
configure.in
depcomp
install-sh
ltmain.sh
missing
autom4te.cache/
build/